<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">

    <h1 class="display-3">Mookie Assessment</h1>

    <hr>
    <a class="btn btn-light btn-lg special" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg special" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>